---
layout: page
title: Posts by tags
css: ["page.css"]
---

<div style="margin-bottom: 1rem;">
	Click on tag you wanna see the posts.
</div>

<div class="col s12 tag-div">
  <div class="tag-list">
    {% for tag in site.tags %}
	    {% capture test %}{{tag[0] | slice: 0}}{% endcapture %}
	    {% capture testup %}{{tag[0] | slice: 0 | upcase}}{% endcapture %}
	    <a class="tag-chip" href="#{{tag[0] | slugify}}{% if test == testup %}_cap{% endif %}"><div class="chip z-depth-1">{{tag[0]}}</div></a>
    {% endfor %}
  </div>
  <div class="divider"></div>
  <div class="tag-index">
    {% for tag in site.tags %}
	    {% capture test %}{{tag[0] | slice: 0}}{% endcapture %}
	    {% capture testup %}{{tag[0] | slice: 0 | upcase}}{% endcapture %}
	    <div class="tag-sec" id="{{tag[0] | slugify}}{% if test == testup %}_cap{% endif %}">
				<h3 class="cat-tag">{{ tag[0] }}</h3>
				<div class="thi-columns">
						<ul class="tag-post">
							{% for post in tag[1] %}
							<a class="post-title" href="{{site.baseurl}}{{post.url}}">
								<li>
									{{post.title}}
									<small class="post-date">{{post.date | date_to_string}}</small>
								</li>
							</a>
							{% endfor %}
						</ul>
				</div>
			</div>
    {% endfor %}
  </div>
</div>
