<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500&amp;subset=latin-ext,vietnamese" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700&amp;subset=vietnamese" rel="stylesheet">
  <meta name="google-site-verification" content="8zqeFQNuNAWS7ye6oN69hdEeYC_RsDyAlhht79xtAQo" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="{{ site.baseurl }}{{ site.banner }}" />

  {% if site.invisible %}
    <meta name="robots" content="noindex">
  {% endif %}

  <title>
    {% if page.title %}
      {{ page.title | escape }} | {{ site.title }}
    {% else %}
      {{ site.title | escape }} | You cannot remember everything
    {% endif %}
  </title>

  {% if page.datacamp %}
    <script type="text/javascript" src="//cdn.datacamp.com/dcl-react.js.gz"></script>
  {% endif %}

  <!-- page's cover -->
  {% if page.bigimg %}
    <meta property="og:image" content="{{site.url}}{{site.baseurl}}{{ page.bigimg }}" />
    <meta property="og:image:width" content="1234">
    <meta property="og:image:height" content="592">
  {% else %}
    <meta property="og:image" content="{{site.url}}{{site.baseurl}}/images/defaultCoverPost.png" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1234">
    <meta property="og:image:height" content="592">
  {% endif %}

  {% if page.maths or page.math %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  {% endif %}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}{{ site.favicon }}">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/thi_scss.css">

  {% for css in layout.css %}
    {% if css contains "//" %}
      <link rel="stylesheet" href="{{ css }}">
    {% else %}
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ css }}">
    {% endif %}
  {% endfor %}

  {% for css in page.css %}
    {% if css contains "//" %}
      <link rel="stylesheet" href="{{ css }}">
    {% else %}
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ css }}">
    {% endif %}
  {% endfor %}

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/feed.xml">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.baseurl }}/sitemap.xml">
  
  {% seo title=false %}
</head>
