{% include header-nav.html %}
<div class="container">
  <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
    <i class="material-icons">menu</i>
  </a>
</div>
<ul id="slide-out" class="side-nav fixed">
  <li>
    <div class="userView thi-userView">
      <div class="background"></div>
        <a href="{{site.github_profile}}">
          <img style="display:inherit;" class="circle z-depth-2" src="{{site.baseurl}}/assets/res/user.png">
        </a>
      <span style="font-size: larger;" class="white-text name">{{site.user}}</span>
      <span class="white-text email"><a style="color: #bdbdbd;" href="https://dinhanhthi.com">dinhanhthi.com</a></span>
    </div>
  </li>
  <li style="padding: 10px;">
    <form action="{{ site.baseurl }}/search" method="get">
      <input class="search-sidebar" type="search" name="q" {% if include.add_id %}id="search-input"{% endif %} placeholder="tìm gì đó?" autofocus>
      <input type="submit" value="Search" style="display: none;">
    </form>
  </li>
  <div id="nav-bar">
    <li><a class="waves-effect" href="{{site.baseurl}}/"><i class="material-icons">home</i>Trang chủ</a></li>
    <li><a class="waves-effect" href="{{site.baseurl}}/categories"><i class="material-icons">sort</i>Theo mục</a></li>
    <li><a class="waves-effect" href="{{site.baseurl}}/tags"><i class="material-icons">loyalty</i>Thẻ</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="{{site.baseurl}}/about"><i class="material-icons">info</i>Giới thiệu</a></li>
    <li><a class="waves-effect" href="{{site.baseurl}}/contact"><i class="material-icons">perm_contact_calendar</i>Liên hệ</a></li>
  </div>
</ul>