.thi-step{
  margin-top: 2rem;
  margin-bottom: 2rem;
  .bar{
    width: 40%;
    margin-left: -1rem;
    hr{
      border-top: 3px dashed #009688;
      border-left: transparent;
      border-right: transparent;
      border-bottom: transparent;
      width: 100%;
      margin: .5rem 0 1rem 0;
    }
  }
  .step{
    counter-increment: thi-step;
    margin-left: 22px;
    padding-left: 37px;
    padding-bottom: 2.5rem;
    border-left: 3px solid #009688;
    counter-reset: step;
    &:before{
      border-radius: 50%;
      content: counter(thi-step);
      height: 3rem;
      width: 3rem;
      line-height: 3rem;
      display: block;
      text-align: center;
      background-color: #009688;
      border: 1px solid #fff;
      color: white;
      font-weight: bold;
      font-size: 1.3rem;
      margin: 0 -10px -2rem -63px;
    }
    &:last-child{
      padding-bottom: 0;
    }
    p:first-child{
      margin-top: -48px;
    }
  }
}