---
---

.post-more-info{
    float: right;
    width: 30%;
    border: 3px dotted #2e87e7;
    margin: 10px 0 10px 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: azure;	
}

@media only screen and (max-width: 699px){
	.post-more-info{
		margin: 0 0 15px 0;
		float: initial;
		width: 100%;
	}
}