---
---

// _sass/
@import 'step';
@import 'heading';
@import 'image';
@import 'header';
@import 'footer';
@import 'box';
@import 'font';
@import 'code';

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  color: lightslategrey;
  &:hover{
    color: darkslategray;
  }
}

.cards-container .card{
	border-top: 0.5px #ddd solid;
}

body {
  counter-reset: h2counter;
}

.notdisplay{
display: none;
}

p{
	margin: 0.5rem 0;
}

.thi-post{
  color: black;
}

.row .col{
  padding: 0;
}

.collapsible-body{
  & > ul{
    margin-top: 1rem;
  }
}

hr{
  margin: 2rem auto;
  width: 40%;
}

.tag-sec{
  display: none;
}
:target{
  display: block;
}

.chip{
  margin-bottom: 10px;
  background-color: #eee;
}

#page-info{
  span{
    font-size: 80%;
  }
}

#post-info{
  span{
    font-size: 80%;
    @media only screen and (max-width: 992px){
      text-align: center;
    }
  }
  &+ .divider{
    margin-bottom: 2rem;
  }
} 

#post-title{
	font-weight: 500!important;
}

p ~ ul, p ~ ol{
	margin-top: -5px;
}

nav ul a{
	line-height: 80px;
}

/*summerize*/
.tomtat{
	margin: 10px!important;
	font-size: 0px!important;
}
.leg-title{
	background: #e8aa04;
	color: white;
	font-size: 120%;
	padding: 4px 10px;
	border-radius: 5px;
	font-weight: 500;
}

.field-set{
	border: #e8aa04 2px dashed;
	background: lightyellow;
	min-width: 0;
	padding: 0px 20px;
}

// table
td,th{
	padding: 10px 5px;
}
table{
	width: auto;
}
table, th, td{
	border: 1px solid #ddd;
}

.container .row{
	margin-left: inherit;
	margin-right: inherit;
}

.side-nav li>a{
	font-size: inherit;
}

.cat-class{
	color: lightslategrey;
	text-transform: capitalize!important;
	font-weight: 500;
}

.cat-commas:after{
	content: ",";
}

.cat-commas:last-child:after{
	content: ".";
}

.card-action a:hover{
	color: chocolate;
}

// column
.thi-columns{
  -webkit-columns: 350px 2; /* Chrome, Safari, Opera */
  -moz-columns: 350px 2; /* Firefox */
  columns: 350px 2;
  ul{
    margin-top: 0;
    }
}

.collapsible{
  padding-left: 0!important;
  margin-top: 1rem;
  &> li{
    list-style-type: none!important;
  }
}
.collapsible-header{
  font-weight: 500;
  line-height: inherit!important;
  min-height: 0!important;
  padding: 0 0.5rem!important;
  p{
    margin: 10px 0!important;
  }
  i{
    line-height: initial!important;
    margin-right: 0.5rem!important;
  }
}
.collapsible-body{
	padding: 0 2rem!important;
}

.cat-tag{
	font-size: 130%;
	color: darkslateblue;
}

.search-sidebar{
	text-align: center;
	margin: 0;
}

.mat-icon{
	float: left;
	line-height: initial;
	margin-right: 10px;
}

#disqus_thread{
	margin-top: 20px;
}

.MathJax{
	font-weight: lighter;
}

// margin
@media (min-width: 991px){
  .mr-l-1{
    margin-right: 0.5rem!important;
  }
  .ml-l-1{
    margin-left: 0.5rem!important;
  }
}