---
---

// _sass/
@import 'step';
@import 'heading';
@import 'image';
@import 'header';
@import 'footer';
@import 'box';
@import 'font';
@import 'code';
@import 'toc';
@import 'grid';

// general
:target{
  display: block;
}
blockquote{
  margin: 2rem 0;
}
.notdisplay{
  display: none;
}

// youtube
@media (min-width: 993px){
  .youtube-3{
    width: 30%;
  }
  .youtube-4{
    width: 40%;
  }
  .youtube-5{
    width: 50%;
  }
  .youtube-6{
    width: 60%;
  }
  .youtube-7{
    width: 70%;
  }
  .youtube-8{
    width: 80%;
  }
  .youtube-9{
    width: 90%;
  }
  .youtube-10{
    width: 100%;
  }
}

body {
  counter-reset: h2counter;
}

.thi-post{
  color: black;
}

.collapsible-body{
  & > ul{
    margin-top: 1rem;
  }
}

hr{
  margin: 2rem auto;
  width: 40%;
}

.tag-sec{
  display: none;
}


.chip{
  margin-bottom: 10px;
  background-color: #eee;
}

#page-info{
  span{
    font-size: 80%;
  }
}


#post-info{
  span{
    font-size: 80%;
    @media only screen and (max-width: 992px){
      text-align: center;
    }
  }
  &+ .divider{
    margin-bottom: 2rem;
  }
} 

#post-title{
	font-weight: 500!important;
}

p ~ ul, p ~ ol{
	margin-top: -5px;
}

nav ul a{
  line-height: 80px;
  font-size: 1.2rem;
}

// table
td,th{
	padding: 10px 5px;
}
table{
	width: auto;
}
table, th, td{
	border: 1px solid #ddd;
}

.container .row{
	margin-left: inherit;
	margin-right: inherit;
}

.side-nav li>a{
	font-size: inherit;
}


// column
.thi-columns{
  -webkit-columns: 350px 2; /* Chrome, Safari, Opera */
  -moz-columns: 350px 2; /* Firefox */
  columns: 350px 2;
  ul{
    margin-top: 0;
    }
}

.cat-tag{
	font-size: 1.5rem;
	color: #009688;
}

.search-sidebar{
	text-align: center;
	margin: 0;
}

.mat-icon{
	float: left;
	line-height: initial;
	margin-right: 10px;
}

#disqus_thread{
	margin-top: 20px;
}

.MathJax{
	font-weight: lighter;
}

.thi-more{
	font-size: 105%;
	color: darkcyan;
  font-weight: 500;
  margin: 2rem 0;
  a{
    color: darkcyan;
  }
  i{
    margin-left: -10px;
    float: left;
  }
}