---
---
.thi-post{
  color: black;
  h1 {
    counter-reset: h2counter;
  }
  h2{
    counter-reset: h3counter;
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    color: #266ac1;
    margin-top: 3rem;
    overflow: hidden;
    &:first-child{
      margin-top: 1rem!important;
    }
    &:before {
      content: counter(h2counter) ".\0000a0";
      counter-increment: h2counter;
    }
    &+h3{
      margin-top: 1rem;
    }
  }
  h3{
    font-size: 1.3rem;
    color: #333;
    margin-top: 2rem;
  }

  // numering
  h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0";
    counter-increment: h3counter;
  }
  h2.nocount:before {
    content: none;
    counter-increment: none;
  }
  h3.nocount:before {
    content: none;
      counter-increment: none;
  }
}

.row .col{
  padding: 0;
}

.collapsible-body{
  & > ul{
    margin-top: 1rem;
  }
}

hr{
  margin: 2rem auto;
  width: 40%;
}

.tag-sec{
  display: none;
}
:target{
  display: block;
}

.chip{
  margin-bottom: 10px;
  background-color: #eee;
}